.banner {
    text-align: center;
    color: #f88051;
    // color: #00bfff;
    // color: rgb(121, 248, 248);
    // font:
    //     700 normal 4em/1.5 'Merriweather Sans',
    //     sans-serif;
    font-family: 'Edo', sans-serif;
    font-size: 72px;
    text-shadow: 4px 4px 36px white;
}

.banner-logo-container {
    padding-top: 80px;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    gap: 8px; /* Espace entre le texte et l'image */

    & img {
        width: 104px;
    }
}

// #logo-other-pages {
//     width: 240px;
// }
