.banner {
    // margin: 96px;
    // color: white;
    text-align: center;
    // color: #dc602e;
    color: #f88051;
    // color: #00bfff;
    // color: rgb(121, 248, 248);
    font:
        700 normal 4em/1.5 'Merriweather Sans',
        sans-serif;
    text-shadow: 4px 4px 36px white;
}

#logo-other-pages {
    width: 240px;
}
