.banner {
    text-align: center;
    color: #f88051;
    // color: #00bfff;
    // color: rgb(121, 248, 248);
    // font:
    //     700 normal 4em/1.5 'Merriweather Sans',
    //     sans-serif;
    font-family: 'Edo', sans-serif;
    font-size: 72px;
    text-shadow: 4px 4px 36px white;
}

// #logo-other-pages {
//     width: 240px;
// }
